# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/
*.ipr
*.iws
*.iml
build.gradle
build/
gradle/
gradlew
gradlew.bat
settings.gradle
*.class


src/main/java/META-INF/MANIFEST.MF

out/artifacts/AntiTD3_main_jar/AntiTD3_main.jar

*.MF
